* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFC0CB;
  color: white;
  font-family: "Inter";
  font-weight: bold;
}

.main-content {
  text-align: center;
  width: 80vw;
  margin: auto;

  h1 {
    margin-top: 25%;
    font-size: 3rem;

    .line {
      text-decoration: line-through
    }
  }

  #timer {
    font-size: 3rem;
  }
}

